*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;

}

.container{
    max-width: 500px;
    margin: 0 auto;
}



.nav-elements{
    display: flex;
    align-items: center;
    height: 100px;
}

nav a{
    text-decoration: none;
    color:#000000;
}

.nav-elements ul{
    display: flex;
    margin-left: auto;
    gap: 1em;

}

.nav-elements li{
    list-style: none;
}

main{
    background: url("./src/assets/main_background.svg");
    background-size: cover;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 385px;
    color: #FFFFFF;
}


.nav-button {
    display: block;
    width: 100%;
    background-color: #FF8C38;
    text-align: center;
    text-decoration: none;
    padding: 16px 0px;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 10px;
}

footer{
    background-color: #252525;
    color: #AAAAAA;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 30px;
}

.about-main{
    color:#000000;
}

.about-main img{
    width: 100%;
}

.explore-vans{
    background-color: #FFCC8D;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}

.description{
    line-height: 1em;
}

.explore-vans a{
    align-self: flex-start;
    text-decoration: none;
    padding: 12px 22px;
    background-color: #000000;
    color:#AAAAAA;
    border-radius: 10px;
    font-weight: 700;
}

.explore-vans > * {
    margin-left: 32px;
}

.van-item{
    width: 175px;
    flex-grow: 1;
}

.van-item img{
    width: 100%;
    object-fit: cover;
    display: block;
}

.van-description h1{
    font-size: 20px;
    margin-right: auto;
}



.van-description{
    display: flex;
    justify-content: start;
    align-items: end;
    font-weight: 700;
}

.vans-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.van-type p{
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    background-color: #000000;
    color:#FF8C38;
    border-radius: 10px;
}

.van-item p{
    margin: 0;
    text-align: end;
    font-size: 14px;
}

.van-description h1,.van-description p{
    margin-bottom: 0;
    font-size: 20px;
}

.van-details img{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.van-details{
    color: #161616;
}



.van-price{
    font-size: 20px;
    font-weight: normal;
}

.van-details-back{
    display: flex;
    align-items: center;
    gap: 5px;
}

.van-details-back p{
    text-decoration: underline;
}

.back-link{
    text-decoration: none;
    color:#161616;
}
